# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE Settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Icon[^s]
Thumbs.db
